[2015-03-31 18:13] bradspry opened #1 "Current WebVTT base file naming convention conflicts with Islandora Batch base file naming convention"
The currently required WebVTT file naming convention conflicts with Islandora Batch's base file naming convention.

Ideally, one would align the base file naming strategy with Islandora Batch, to enable command-line batch importing of oral histories.

OH123.xml
OH123.vtt
OH123.wav

[2015-03-31 18:38] bradspry opened #2 "Does not render TRANSCRIPT when transcript is added after original ingest"
Using Islandora Batch, it's possible to populate a collection with lightweight, metadata-only records, using a zipfile containing only MODS .xml files.

At a later date, one can add the WAV OBJ, and the system successfully generates derivative datastreams, such as PROXY_MP3.

Apparently, the system does not render the TRANSCRIPT if the transcript is added at a later date.

Steps to reproduce:

1.

[2015-03-31 19:28] bradspry commented on #1
Attempting to batch import a zipfile with the following contents:
test.wav
test.xml
test_en.vtt

...results in a new object, with successful combination of test.wav and test.xml.

The presence of test_en.vtt however, causes the creation of a separate new object, with just test_en as the title of the MODS datastream.

If one renames test_en.vtt to test.vtt to align with the other files, islandora b

[2016-03-10 15:10] petermacdonald opened #4 "Edit function"
I have everything in the Oral Histories module working now, except for the "Edit" function.

When I click "Edit" I get a spinning "Loading..." symbol and an "AJAX HTTP error":

"Fatal error: Call to a member function children() on a non-object in ...//transcript.edit.form.inc on line 51."

If the "Edit" function should be working, I'll try to fix it on my own, but if the "Edit" function is still u

[2016-09-14 18:36] Natkeeran commented on #4
@petermacdonald  Thank you for posting the issue.

We are currently reviewing the issues related to this module.  Yes, the edit button for transcript should work.

I am unable to reproduce the issue as you described with the latest build.

[2016-09-26 20:08] Natkeeran commented on #1
Thank you reporting the issue.

I assume that test.xml is the MODS stream.  OH module currently does not handle multiple vtts through batch!  (I am currently reviewing the support for using multi-lingual VTTs).  Thus, the batching is treating the test_en.vtt as a different object.

Also, Islandora Batch cannot handle xml data streams other than MODS or DC.  There is an alternate approach suggested

[2016-10-05 15:47] MarcusBarnes commented on #4
@petermacdonald Thank you.  This has been addressed as of commit 0909208d07061cb95aa47263e833a31eec65919b.

[2016-10-05 15:47] #4 closed

[2016-10-07 15:19] MarcusBarnes commented on #2
Both @Natkeeran and myself have been unable to reproduce using the latest work b6a00b616b2668ef8ffa681bdbaa84437c8a94be.   @bradspry Would you be able to pull the most recent version and see if you're still getting the same behavior?   I'm going to close this issue until we are able to reproduce from the more recent work.  Thank you for understanding.

[2016-10-07 15:19] #2 closed

[2016-10-27 15:16] MarcusBarnes opened #11 "Test Solr search with content in VTT files and enhance Solr indexing as appropriate"
The code that was merged into master in pull request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/10 (commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/6e5a6298e59221146cb93497a300f88d80f1c946) provides some basic Solr indexing of VTT files.  Please test Solr search with content in VTT files and enhance Solr indexing as appropriate.

[2016-10-27 15:59] MarcusBarnes opened #12 "Document how to enable basic indexing of VTT files"
Document how to enable basic indexing of VTT files as per functionality added in pull request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/10  (commit 6e5a629).

[2016-11-10 16:44] simonhm opened #14 ""This transcript is still being processed for display." error ???"
Hi,
I am getting this error **"This transcript is still being processed for display."**
I installed all of required modules/libraries.
Even testing with the test XML transcript file on your github, I still get that error.
What is causing it?

* configuration details:
![image](https://cloud.githubusercontent.com/assets/6493383/20185378/748a0144-a731-11e6-9363-666002a4a643.png)

![image](https://clo

[2016-11-10 16:55] Natkeeran commented on #14
@simonhm Thank you the detail bug report.

Would you be able to go to the solr and see if the or_transcript is being index for that object?

Also, please try un-checking "Generate datastream for WebVTT indexing" option and creating a new object? (This is relatively a new addition, and want to see if it causing any issues).

[2016-11-10 17:13] simonhm commented on #14
I'm not good at SOLR. Other developers work with SOLR here. I will ask them about this. They're not here this morning.
So far I can't search that object on islandora site, that's why I think maybe there is something wrong with SOLR indexing, and that causes the transcript display error as well ???

Also, please try un-checking "Generate datastream for WebVTT indexing" option and creating a new obj

[2016-11-10 17:24] Natkeeran commented on #14
When using the XML for transcript, the solr does need to be configured properly for the TRANSCRIPT to display.  If the SOLR does not index it properly, then it will not display it.  Some further instructions can be found here with regards to how to configure the solr: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/master/docs/developer

Another option to try is to upload

[2016-11-10 19:50] simonhm commented on #14
We updated the SOLR indexing, and the SOLR is working now. I can search the object on Islandora site and see the or_transcript on SOLR as well.
BUT the transcript display is still not working and in process ....

![image](https://cloud.githubusercontent.com/assets/6493383/20191695/4cb0831c-a74c-11e6-823e-f1c7050e6fa9.png)

![image](https://cloud.githubusercontent.com/assets/6493383/20191725/6c6582

[2016-11-10 20:44] Natkeeran commented on #14
@simonhm, yes it does seem like oral history xml is being index.  The solr should look like below:

![http-__localhost-8080_solr_ _collection1_query](https://cloud.githubusercontent.com/assets/1827166/20193403/d3514b36-a75b-11e6-924a-0d886b74e9d5.png)

It would be easier if we can setup a skype or web meeting to review/troubleshoot this issue further.  Tomorrow morning (Toronto/Eastern time) looks

[2016-11-10 21:21] simonhm commented on #14
If I use the VTT file to ingest object (instead of XML file), I will get this:
![image](https://cloud.githubusercontent.com/assets/6493383/20194429/ef2fe49c-a757-11e6-86e2-87fc59032dc3.png)

Click on Edit, this one shows up

![image](https://cloud.githubusercontent.com/assets/6493383/20194472/1a53f366-a758-11e6-97cf-9f80f9e84e7e.png)

I guess I know what's going on here. That is something wrong in

[2016-11-10 21:26] simonhm commented on #14
Once more thing, I couldn't see the vtt_content in SOLR. Is that something ?

[2016-11-14 19:56] Natkeeran commented on #14
We narrowed the issue down to here: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/blob/master/includes/utilities.inc#L143, with the help of this script: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/15.

When the sort parameter is set, @simonhm does not get a valid response.  It is unclear why, as he has similar environment and configuration as va

[2016-11-14 20:11] MarcusBarnes opened #16 "Add additional documentation on how to use extras/testSolrResponse.php helper script"
Add additional documentation on the purpose of the extras/ folder and inline documentation for testSolrResponse.php debugging helper script:

https://github.com/digitalutsc/islandora_solution_pack_oralhistories/blob/master/extras/testSolrResponse.php

[2016-11-15 18:07] MarcusBarnes opened #17 "Remove annotation code"
Annotation capabilities are being developed in a new module (https://github.com/digitalutsc/islandora_web_annotations).  Clean out annotation related code as appropriate.

[2016-11-17 20:52] MarcusBarnes opened #18 "Review stale branches"
Review stale branches to determine what to do with them (e.g., delete, merge).

[2016-11-17 20:54] MarcusBarnes commented on #17
Initial work is in branch [issue-17](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/issue-17).  Much more to cleanup to do.

[2016-11-18 17:41] MarcusBarnes commented on #18
Deleted three stale branches after review.  Closing issue.

[2016-11-18 17:41] #18 closed

[2016-11-24 18:53] MarcusBarnes opened #19 "Add basic drush support"
Create islandora_oralhistories.drush.inc for providing basic drush support (e.g., enable and disable).

[2016-11-25 16:40] MarcusBarnes commented on #19
Basic drush commands work out of the box:

``drush pm-disable islandora_oralhistories``

``drush pm-enable islandora_oralhistories``

Consider adding other drush commands for this module should they be helpful to those administering this module.  Please create separate issues as appropriate.

[2016-11-25 16:40] #19 closed

[2016-11-28 16:25] Natkeeran commented on #17
Tested by applying the PR to existing OH installation.  Then running the module update.  Also did a brief code review.

*  it prompted to update
* It removed annotation related config option
* The db entries are removed (mysql --user=root --password=islandora -> SELECT * FROM variable WHERE name ='islandora_oralhistories_annotation_tab_display';)

Looks good.  Nice work.  Thank you @MarcusBarnes.

[2016-11-28 16:25] #17 closed

[2016-11-29 15:59] MarcusBarnes commented on #14
We are leaving this issue open for now pending further review.    If you encounter the same issue, please provide details by commenting below and also please see @Natkeeran's [comment](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/14#issuecomment-260444127) for a possible work around .

[2016-11-29 18:34] MarcusBarnes opened #21 "Investigate how to handle transcripts_ui for stabiliity."
This issue is a stub for work related to investigating creating a fork of [transcripts_ui](https://github.com/pinedrop/transcripts_ui) as a submodule to help with stability with [islandora_solution_pack_oralhistories](https://github.com/digitalutsc/islandora_solution_pack_oralhistories).

[2016-12-06 14:56] MarcusBarnes commented on #21
Initial work (proof-of-concept) of including fork of [Pinedrop's transcripts_ui](https://github.com/pinedrop/transcripts_ui) module as a submodule and having the configuration section for transcript_ui appear in the solution pack's administration page (tabbed):

https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/issue-21

[2016-12-06 15:25] MarcusBarnes commented on #21
Closing this issue.  We need to determine whether those who developed transcripts_ui will need to sign an Islandora CLA or if the GPL license of transcript_ui is sufficient to include this as a submodule.

[2016-12-06 15:25] #21 closed

[2016-12-06 16:21] MarcusBarnes commented on #11
Tested Solr searching via the advance search block settings in Islandora Solr.  Picks up objects as expected.  Please create other issues as needed for refinements in indexing (searching) of VTT files.

[2016-12-06 16:21] #11 closed

[2016-12-06 19:38] MarcusBarnes commented on #12
Initial documentation for enabling basic indexing of VTT files is located in the [Indexing WebVTT files](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/wiki/Indexing-WebVTT-files) wiki page.   As needed, please create a new documentation issue for suggesting improvements or noting errors in the documentation.

[2016-12-06 19:38] #12 closed

[2016-12-06 21:23] petermacdonald opened #22 "Transcript is being processed for display"
We have been using the OH module since February 2016 with three of our videos, but recently the scrolling transcripts are no longer working and all we get is "Transcript is being processed for display".

Searching Solr works fine and I can see the "or_transcript" index in the Solr indexes for the videos.

We can't trace the root of our problem and if we upgrade the OH module to the current version

[2016-12-06 21:27] MarcusBarnes commented on #22
@petermacdonald We've had another user report similar problem in https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/14  Would you please check out the thread and see if the suggested work-around seems to address your issue?   Specifically, see @Natkeeran's comment https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/14#issuecomment-260444127.  Thanks

[2016-12-06 21:35] petermacdonald commented on #22
I'm not sure were to put "testSolrResponse.php" and how to invoke it (if I need to).

Thanks

[2016-12-06 21:39] MarcusBarnes commented on #22
@petermacdonald - I was about to document [that](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/16), but GitHub is having issues this afternoon.  If possible @Natkeeran can you chime in to help?

[2016-12-06 21:42] Natkeeran commented on #22
@petermacdonald Can you pls try removing the $query .= "&sort=or_start asc"; line from includes/utilities.inc and try.

[2016-12-06 21:46] petermacdonald commented on #22
Wonderful!. Thank you. That fixed it.

Also,
should I keep using the version I've got (now that it's working) or would you recommend I upgrade?

Peter

[2016-12-06 21:49] MarcusBarnes commented on #22
@petermacdonald Please keep the version you've got for now.  We're trying to figure out what has changed or different about the installs of some of our users that is causing the issue to appear.  Would it be possible for us to reach out to you to get more details about your setup?

[2016-12-06 22:27] petermacdonald commented on #22
I'd be glad to help in any way possible.

Peter MacDonald

On Tue, Dec 6, 2016 at 4:49 PM, Marcus Emmanuel Barnes <
notifications@github.com> wrote:

--
Peter MacDonald,
Library Information Systems Specialist
Hamilton College Library
Clinton, New York
315 859-4493
pmacdona-hamilton (Skype)

[2016-12-06 22:28] MarcusBarnes commented on #22
@petermacdonald Thank you.  We'll reach out to you soon to gather some more details.

[2016-12-12 19:00] MarcusBarnes commented on #16
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/23 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/c1ac6c7d890945312ca42f39a8b16acb92006b39) and with wiki page https://github.com/digitalutsc/islandora_solution_pack_oralhistories/wiki/Extras:-Test-Solr-Response-script.

[2016-12-12 19:00] #16 closed

[2017-01-09 20:42] MarcusBarnes commented on #21
Update:  Including a fork of Transcripts UI as a submodule is OK.

[2017-01-09 21:06] MarcusBarnes opened #25 "Consider creating a pull request template"
Consider creating a pull request template like that used for Islandora: https://github.com/Islandora/islandora/blob/7.x/.github/PULL_REQUEST_TEMPLATE.md

GitHub Help documentation: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2017-01-11 17:15] MarcusBarnes opened #26 "Update Transcript UI instructions in README"
As of https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/0562f1b7625e1032fa3d9dde1ab6325bea818039, a fork of Transcript UI has been included as a submodule.  Update the [instructions in the README](https://github.com/digitalutsc/islandora_solution_pack_oralhistories#transcripts-ui) and elsewhere as appropriate to reflect this change.

[2017-01-12 17:18] MarcusBarnes commented on #22
Initially addressed with pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/27 (commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/1177d1340db62f38221fad3b5d317708b99b0323).

[2017-01-12 17:18] #22 closed

[2017-01-12 17:18] MarcusBarnes commented on #14
Initially addressed with pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/27 (commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/1177d1340db62f38221fad3b5d317708b99b0323).

[2017-01-12 17:18] #14 closed

[2017-01-12 21:02] MarcusBarnes commented on #25
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/28.

[2017-01-12 21:02] #25 closed

[2017-01-13 21:18] #26 closed

[2017-01-30 16:32] MarcusBarnes opened #30 "Change default teirs and speaker names in transcript UI submodule"
Pinedrop's [transcript UI](https://github.com/pinedrop/transcripts_ui) provides [default tiers](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/blob/master/transcripts_ui/transcripts_ui.admin.inc#L12) and [speaker names](https://github.com/digitalutsc/islandora_solution_pack_oralhistories/blob/master/transcripts_ui/transcripts_ui.admin.inc#L25).    These defaults appear to be

[2017-02-01 21:54] Natkeeran commented on #30
This PR https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/31 addresses this issue.

[2017-02-01 21:54] #30 closed

[2017-03-06 19:00] MarcusBarnes opened #32 "Audio drift and sync oddity"
A user has reported some behavior that seems odd:

https://groups.google.com/d/msg/islandora/D3SF8AJjnWU/uVhM55TfDwAJ

I will be reaching out to the user to gather more information and determine if I can reproduce the behavior.

[2017-03-13 15:16] kstapelfeldt opened #33 "Typo in interface documentation"
"By default, the trascript will be displayed beneath the media object." should read "By default, the transcript will be displayed beneath the media object."

[2017-03-13 15:20] kstapelfeldt opened #34 "After editing a cue in Oral History Solution Pack, can't exit form"
Steps to reproduce:
1. Navigate to Manage>Datastreams>Edit. Make and submit an edit.
2. Receive a confirmation that the datastream is updated, but there is no way back to the object without navigating from the top collection object. Cannot navigate back in browser.

How hard would it be to redirect a user back to the object after the edit was complete?

[2017-03-13 15:32] MarcusBarnes commented on #33
@kstapelfeldt Please feel free to merge the pull-request if it looks good.  Thank you.

[2017-03-13 15:36] MarcusBarnes commented on #33
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/35 (merged with https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/464e72ac7c7ec38702f594a6ed50f76b50dffc4f).

[2017-03-13 15:36] #33 closed

[2017-03-14 18:11] MarcusBarnes commented on #34
I've been able to reproduce.  The aim should be to make the behavior similar to what happens when editing the MODS datastream.

[2017-03-16 15:53] MarcusBarnes opened #37 "When the "Enable transcript display" option is not set, completely hide the transcript tab and area."
When the "Enable transcript display" option is not set, a tab with no content to display is shown.  This can be confusing.
![image](https://cloud.githubusercontent.com/assets/938274/24005144/981f86ea-0a3e-11e7-8187-6b9b7f60d0e1.png)
When the "Enable transcript display" option is not set, completely hide the transcript tab and area.

[2017-03-22 16:14] Natkeeran commented on #37
This PR: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/38 addresses this issue.  Thanks Marcus.

[2017-03-22 16:14] #37 closed

[2017-03-31 15:22] Natkeeran opened #41 "Add bootstrap required for oh as default"
Currently oh module assumes that the user is using a bootstrap theme.  This is probably not the case for general users.  We have a custom bootstrap css build targeting  oh module elements that gets applied for oh.  Initially this was made configurable.  This config needs to be in place by default to ease installation.

[2017-03-31 16:21] MarcusBarnes commented on #41
This has been addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/42 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/5e782fa48e6f0e2f7d351f41d02d82cf1915c67a).

[2017-03-31 16:21] #41 closed

[2017-03-31 17:09] MarcusBarnes commented on #34
This issue may be related to a theme warning that is appearing in the log: "Theme hook islandora_oralhistories_transcript_edit_form not found."

[2017-03-31 19:24] kstapelfeldt opened #43 "Editor for WebVTT files"
Users can't edit cues in the player when they come from VTT source files (as apposed to the transcript XML format) but it looks like they can, until they encounter the error  "TRANSCRIPT does not have a valid xml content" -  ideally we'd remove the edit button when transcripts were provided as VTT or provide an alternate editor.

[2017-04-04 13:51] kimpham54 opened #44 "ingest of oral history with transcript creates multiple captions"
Description
When an oral history is ingested with a transcript, duplicate caption options are created. Only one caption option works.

Steps to reproduce
1. add an object to a collection (oral history content model)
2. add video + 1 oral history transcript

You should see the following:
![screen shot 2017-04-04 at 09 48 21](https://cloud.githubusercontent.com/assets/2915770/24659927/1d5fd080-191c-

[2017-04-04 13:52] MarcusBarnes commented on #44
@kimpham54 Would you please send the transcript (and video) so that we can reproduce.  Thank you.

[2017-04-04 13:53] kimpham54 opened #45 "side by side display + video controls + web annotations"
Side by side display of viewer does not show the video controls (or web annotation controls)

Steps to reproduce:
in the Oral History configuration, select " Display media and transcript side-by-side", try to play the video and use normal video playback functions

[2017-04-04 14:04] MarcusBarnes commented on #45
Do we know of any installations that use the side-by-side display?  If this feature is not actively used, I wonder if we can deprecate the functionality.

[2017-04-04 14:08] kimpham54 commented on #45
Not that I know of - if we want to consider deprecation, we can post to the Islandora google group just to be sure.

[2017-04-04 18:21] kimpham54 commented on #45
@MarcusBarnes @kstapelfeldt : @Natkeeran mentioned that he saw a couple of institutions using side by side display. Something to discuss in the next DSU meeting (my regrets)

[2017-04-04 19:09] mkudzia commented on #45
FWIW I don't know of anyone using side-by-side either -- I think checking in with the Islandora google group is a great idea.

[2017-04-06 19:20] MarcusBarnes opened #46 "Provide .install file for Transcript UI submodule"
Provide a .install file for the Transcript UI submodule.  In particular, implement hook_install to install the default configuration variables and hook_uninstall to delete these variables.

Once complete, consider making appropriate modifications so that the file can be provided considered for inclusion in https://github.com/pinedrop/transcripts_ui.

[2017-04-18 15:43] Natkeeran commented on #46
This PR: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/48 addresses this issue.  Works as expected.

[2017-04-19 17:22] MarcusBarnes commented on #44
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/50 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/afdb36449706aa6e0c6325b201457da381e6faa6).

[2017-04-19 17:22] #44 closed

[2017-04-20 18:36] kstapelfeldt opened #51 "Interface Wording Change"
<img width="218" alt="screen shot 2017-04-20 at 2 18 35 pm" src="https://cloud.githubusercontent.com/assets/467898/25246691/6caf8cfe-25d6-11e7-96b1-2c324301323e.png">

Users are likely to believe that multiple users will appear in the lower 'Speaker Names' panel depicted in the screenshot. Recommend changing the header "Speaker Names" to read "Toggle speaker names on/off"

[2017-04-21 17:52] MarcusBarnes commented on #51
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/52 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/485055580ee3e0342fc0eac52100ba6912e9b2d6).

[2017-04-21 17:52] #51 closed

[2017-04-28 16:22] ctgraham opened #53 "Handling transcripts_ui (round 2)"
In digitalutsc/islandora_solution_pack_oralhistories#21, pinedrop's [transcripts_ui](https://github.com/pinedrop/transcripts_ui) was copied, modified, and added to this repo,

Was consideration given at that time to doing this as a git submodule (or an actual fork of the upstream code)?  Were there any blockers not discussed in digitalutsc/islandora_solution_pack_oralhistories#21?

We are divergin

[2017-04-28 16:39] MarcusBarnes commented on #53
@ctgraham Thank you.

There was already some nontrivial divergence and and the modules were highly-coupled.  Additionally, there was a need to group the menus in a way that made greater sense for someone using the solution pack.  There were other considerations that were also taken into account at the time.

I appreciate your comments and suggestions.  I'll aim on reviewing again and evaluate agai

[2017-04-28 18:07] ctgraham commented on #53
Thanks, @MarcusBarnes.  Do we have documentation of the intentional divergence?  My colleague @bgilling is trying to debug some functionality in the copy of this module, and if we can segment this into categories of to-be-integrated-upstream vs. to-be-maintained-as-a-local we might have a good basis for contributing to refactoring this.

[2017-04-28 18:36] MarcusBarnes commented on #53
@ctgraham I've just sent you an email so that we can discuss without generating notifications.  We can add comments as appropriate as it is decided how to best proceed.  Thanks.

[2017-05-05 18:09] #46 closed

[2017-05-09 19:14] Natkeeran opened #54 "Language codes are not visible in the CC selection box"
Adding a second webvtt file with the language code suffix _FR does cause the datastream to be available to closed captioning, but even when configured, the language codes are not visible in the CC selection box.

[2017-05-10 14:42] kstapelfeldt commented on #34
Kirsta and @MarcusBarnes to retest to see if this behaviour is still there (test with and without overlay?)

[2017-05-10 14:43] kstapelfeldt commented on #1
not for this release: keep on Roadmap though.

[2017-05-10 17:37] MarcusBarnes commented on #34
@kstapelfeldt I'm getting the same behavior as before in my 7.x-1.9 dev VM.  In Firefox, the browser back button brings me back to the datastreams management page for the object.

[2017-05-11 19:25] MarcusBarnes opened #55 "Create initial CONTRIBUTING.md file"
Create initial CONTRIBUTING.md file and update README.md to point to information on contributing.

[2017-05-16 16:27] kimpham54 opened #57 "Bootstrap themes do not need to use provided bootstrap css/js"
Need to provide documentation/instruction about removing the bootstrap css/js dependencies if you are using a Bootstrap themes (including Bootstrap business). There are issues if you decide to include bootstrap dependencies, e.g. clicking the transcript viewer to view the tiers doesn't work.

[2017-05-17 15:36] MarcusBarnes commented on #55
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/56 (merged with commit d65f66918f4f2b227243d82cc30162cae625bf88).

[2017-05-17 15:36] #55 closed

[2017-05-17 18:19] McFateM opened #58 "Editing cues with escaped characters breaks the transcript XML"
In my workflow I have a proofreader/editor who's encountered problems when editing changes to transcripts when using the "Edit" button and Transcript_UI (?) editor.  Specifically, when we embed escaped special characters in our transcript XML, for instance a string like "S&B" represented in the transcript as "S&amp;B", it displays "correctly" but when saved/submitted the XML is badly broken.  It a

[2017-05-17 18:45] McFateM opened #59 "Add option to expand all cues in the Edit/Transcript_UI window"
Not an issue, but an enhancement request...  In my workflow editors and proofreaders frequently wish to search for specific keywords in a transcript but find it difficult to do so because the Transcript_UI editor opens with all but the first cue collapsed.  An option to expand all cues for display/search would be a very welcome addition.

[2017-05-24 14:46] kstapelfeldt commented on #45
@kimpham54 sending a notice on google list today

[2017-05-29 15:47] MarcusBarnes commented on #58
I've reviewed and the fix appears to work as expected.  @kimpham54 Would you please confirm before I merge?  Thank you.

[2017-05-30 14:25] MarcusBarnes commented on #58
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/60 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/18ec7ce5bcfbeab70d03553c2c098c659f15f33d).

@McFateM You may want to pull and test the latest change.  Thanks again for noting the issue.

[2017-05-30 14:25] #58 closed

[2017-05-30 14:30] MarcusBarnes opened #63 "Documentation: CDATA sections in transcript XML"
Related to discussions in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/60, update relevant documentation regarding the use of CDATA sections in transcript XML.

[2017-05-30 17:28] MarcusBarnes commented on #54
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/62 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/5241ca1f5bca529eb3f9479fbb2074d38c0debbc).

[2017-05-30 17:28] #54 closed

[2017-05-30 17:34] MarcusBarnes opened #64 "Testing: Add WebVTT fixture and unit tests"
Add a WebVTT fixtures and additional unit tests similar to that used for the transcript XML fixture to be run by Travis CI, etc.

[2017-05-31 21:34] bgilling opened #65 "compose_vtt_transcript_as_transcripts_ui uses file_get_contents to get datastream contents"
compose_vtt_transcript_as_transcripts_ui() uses a URL to get the datastream contents of an object by using file_get_contents which does not work under some circumstances.  Perhaps that call using file_get_contents() could be fixed so that it always works, but the preferred method of getting the datastream contents would be to use the islandora object & datastream functions to get that value - simi

[2017-06-01 13:50] wgilling commented on #65
I wrote a quick branch that parses the given URL and uses the islandora functions to get the datastream content rather than makes a roundabout http request to get a value from fedora.  The branch is called ULS_replace_file_get_contents and I will make a pull request for it separately after I enter this comment.

[2017-06-01 21:02] Natkeeran commented on #34
This is a challenging issue that anticipated.  The expected drupal_goto is not working in this situation.

This PR https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/issue_34 addresses this issue partially.  It navigates back to the object after editing the datastream (in the inline form and for the ajax form).  It redirects to the object with notification saying the datastr

[2017-06-02 16:32] MarcusBarnes commented on #65
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/67 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/332bff333310fa331c32c6b4ea1d3a25f8cadb72).   Thank you @bgilling.

[2017-06-02 16:32] #65 closed

[2017-06-05 14:16] kimpham54 opened #68 "TRANSCRIPT does not get created if you add MEDIATRACK datastream in the"
Description
Uploading an an oral history audio/video alone then adding a MEDIATRACK datastream does not create a TRANSCRIPT. However, a TRANSCRIPT gets generated if you add a MEDIATRACK datastream at the same time as adding an audio/video file.

Steps to Reproduce
1. Upload an audio/video oral history alone
2. When ingested, add a vtt MEDIATRACK datastream

Expected Behaviour
Similar to when you a

[2017-06-05 14:37] kimpham54 opened #69 "Oral history media + TRANSCRIPT xml upload creates blank CC option"
Description
Whenever a TRANSCRIPT (xml based) is uploaded, a blank option (the TRANSCRIPT datastream) that does not display captions is added to the CC options.

Steps to Reproduce
1. Add an audio/video file with TRANSCRIPT. Or just add an audio/video file then add a TRANSCRIPT after the original audio/video is ingested
2. View the oral history, go to CC

Expected Behaviour
A single option (taken

[2017-06-05 14:44] kimpham54 opened #70 "TRANSCRIPT xml upon upload assumes that original language is English"
Description
When a TRANSCRIPT xml is uploaded, content from <transcript> gets transformed into VTT for closed captioning and is indexed. The CC language options assumes it's an 'en' code. This still happens when options in /admin/islandora/solution_pack_config/oralhistories under 'Specify VTT default language code(s)' are changed (such as removing en, adding only fr). It would be nice to modify th

[2017-06-05 14:51] kimpham54 opened #71 "TRANSCRIPT vtt file does not specify language code in CC interface"
Description
Ingesting an oral history with a TRANSCRIPT vtt does not provide a language code. Would be nice to specify a language code in the file or have the ability to change the language code in the CC options after the fact.

Steps to Reproduce
1. Ingest audio/oral with webvtt file
2. Go to interface, select CC

Expected Behaviour
A closed caption option with the appropriate language code is d

[2017-06-05 15:04] kimpham54 opened #72 "Batch ingesting oral history audio files does not create audio oral history objects"
Description
Batch ingesting oral history media files does not work for batch audio files

Steps to reproduce
1. Batch import a zip of audio files, select Islandora Oral Histories Content Model

Expected behaviour
Audio objects get created and can be viewed in collection

Actual behaviour
Audio objects are not ingested properly

Error message when trying to view object:
[code]

.mp3 file gets inges

[2017-06-05 15:06] kimpham54 opened #73 "Hide transcript viewer if no transcript is available"
Option to hide transcript viewer if no transcript is available, instead of user being able to see the Transcript tab with "No Content available." text

[2017-06-05 15:23] kimpham54 opened #74 "Multiple refreshes are required for editing through transcripts_ui"
Steps to Reproduce
1. With an oral history that has a transcript display, edit a cue that isn't <transcript> and Submit
2. View transcript display in object after one refresh

Expected Behaviour
Transcript tiers are updated in transcript display.

Actual Behaviour
Transcript tiers that aren't <transcript> are not updated in transcript display. If you refresh 1-2 more times the transcript display i

[2017-06-05 15:35] MarcusBarnes commented on #70
I can confirm that the 'Specify VTT default language code(s)' language code setting is not being honored when using only one default VTT language code.  I changed the language code from en to fr and en was used.

[2017-06-05 16:25] kimpham54 opened #75 "INDEXMEDIATRACK invalid if non escaped characters exist"
Related to https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/58

When transcript content gets edited through the UI interface, this updates the original TRANSCRIPT datastream and CDATA is added to the different tags. INDEXMEDIATRACK however is not updated.

Steps to Reproduce
1. Edit an oral history with a transcript in transcript viewer using non escaped characters, such

[2017-06-05 16:51] kimpham54 commented on #68
test against https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/76 to see if this issue still persists

[2017-06-05 16:56] Natkeeran commented on #70
Yes, English is set as default.  It should take the default language specified.  Is that correct?

[2017-06-05 17:00] Natkeeran commented on #68
@kimpham54 This issue is not related to https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/76.

The uploaded MEDIATRACK file needs to have TRANSCRIPT as the ID/Label.  Also, we only support one MEDIATRACK file currently in the transcript UI.  Being able to display the datastream with MEDIATRACK ID/Label in the transcript UI could be a desired enhancement.

[2017-06-05 17:02] Natkeeran commented on #74
Related to this PR : https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/76

I think the delay is due to delay in solr indexing the xml datastream.  Not sure if we can totally avoid that.

[2017-06-05 17:03] kimpham54 commented on #68
oops commented on the wrong issue

[2017-06-05 17:09] kimpham54 commented on #68
I tested by adding the vtt directly to a MEDIATRACK datastream instead of a TRANSCRIPT datastream. Will test by adding the vtt to a TRANSCRIPT datastream instead. I don't think we need to worry about displaying the vtt if it's labelled MEDIATRACK.

[2017-06-05 17:09] #68 closed

[2017-06-05 17:12] kimpham54 commented on #70
@Natkeeran @MarcusBarnes  I think this is going to be a very common use case, where the original language isn't in english. Being able to specify the original language or being able to change the default en will be a desired feature

[2017-06-05 17:21] MarcusBarnes commented on #73
Possibly related to how this solution to https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/37 was implemented - I'll investigate further.

[2017-06-05 17:41] Natkeeran commented on #75
Nice catch @kimpham54.  I've created a PR (https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/77) to address this issue:

[2017-06-05 18:13] Natkeeran commented on #71
@kimpham54

If the user uploads the oral history with TRANSCRIPT vtt, we can get the language from the file name.  Would that work?  For instance, they can specify MEDIATRACK_fr.vtt.  If no language is specified, then will default to English.

[2017-06-05 18:19] kimpham54 commented on #71
@Natkeeran what will the filename need to look like? Will something like this be implemented for TRANSCRIPT xml files too (see https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/70)?

[2017-06-05 18:25] Natkeeran commented on #71
Currently, we simply convert (string)$cue->transcript into the default MEDIATRACK datastream.  We would have to make that configurable, so that a MEDIATRACK can be generated from a specified cue/element.

We may have to specify the language of that cue as well in the configuration.

[2017-06-05 18:57] MarcusBarnes commented on #73
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/78 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/732701f31ffc159afac26fe73cf86ea78a965d76).

[2017-06-05 18:57] #73 closed

[2017-06-05 19:21] Natkeeran commented on #71
@kimpham54 , here is a partial solution: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/issue_70

If you upload a transcript vtt with a filename extension indicating the language (i.e MEDIATRACK_fr.vtt), and you have fr as default, it will display fr by default.

With respect to vtts that get created from xml, pls see my previous comments.  It is related to https://githu

[2017-06-05 19:22] MarcusBarnes commented on #75
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/77 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/88e90224821243b4da5d0bf169c9c6fd4e10e08c).

[2017-06-05 19:22] #75 closed

[2017-06-05 20:24] kimpham54 opened #80 "create diagram of oral history ingest workflow"
create workflow diagram of SP functionality, derivative and datastream updates depending on what you ingest.

include:
- what happens if you edit through transcripts_ui (can't for TRANSCRIPT vtt, can for TRANSCRIPT xml, what datastreams get updated
- which datastream powers CC (TRANSCRIPT if vtt, MEDIATRACK if xml)
- when and when you do not need to use INDEXMEDIATRACK for solr
- when CDATA gets a

[2017-06-05 20:27] kimpham54 opened #81 "indexing multiline TRANSCRIPT xml"
Description
For content in the TRANSCRIPT xml that uses line breaks, INDEXMEDIATRACK doesn't transform content past the first line

Steps to Reproduce
1. Have an oral history with TRANSCRIPT xml that includes line breaks, like:

[code]
2. View INDEXMEDIATRACK datastream

Expected Behaviour
All content is transformed into <vtt_text>, it would look something like this:

[code]

Actual Behaviour
All

[2017-06-05 20:33] MarcusBarnes commented on #32
Double check whether this issue #32 may be related to issue https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/81.

[2017-06-05 21:31] MarcusBarnes commented on #69
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/79 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/d1f61a32759c583765463592dfd8c9586ffad615).  Thank you @kimpham54 @Natkeeran.

[2017-06-05 21:31] #69 closed

[2017-06-06 18:58] MarcusBarnes commented on #70
As part of this discussion, it might be useful to update TRANSCRIPT XML syntax to record language codes.  This will make it possible to extract and create WebVTT files for each language code in the TRANSCRIPT XML.

[2017-06-06 19:18] kimpham54 commented on #70
use filename suffix for TRANSCRIPT vtt and TRANSCRIPT xml for consistency's sake and in the situation where <transcript> may have multiple languages (attributes)

[2017-06-07 13:56] MarcusBarnes commented on #34
Initially addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/76 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/d04f0a78ad0889ae1201af7e51e9c720f27c978d).   The merged solution improves the behaviour.  If additional changes need to be made, we can either reopen this issue or create a separate specific

[2017-06-07 13:56] #34 closed

[2017-06-07 18:32] McFateM opened #83 "Transcript of audio-only OH no longer appears in the window"
I recently upgraded to the current 7.x branch of the code and now the transcript of our audio-only oral histories no longer appears or scrolls in the top window pane.  The transcript appears below as it always did, but the scrolling text that previously appeared in the top window is now replaced by the object's thumbnail.  Note these are audio-only oral histories with no video content.

[2017-06-07 18:51] McFateM commented on #83
Follow-up to this issue...   My latest pull was made this morning and it upgraded the IOH module to the 7.x branch of this commit:  https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/d04f0a78ad0889ae1201af7e51e9c720f27c978d.

The image shown below is what the top/video window of our OH content used to look like...
![screen shot 2017-06-07 at 1 44 21 pm](https://user-images

[2017-06-07 18:58] kimpham54 commented on #83
@McFateM when you play the audio, are you able to see the captions at all? I have the latest 7.x and this is what I see when the audio file is played:
<img width="1110" alt="screen shot 2017-06-07 at 14 57 11" src="https://user-images.githubusercontent.com/2915770/26896121-c56ef9ca-4b91-11e7-99be-2f766800954c.png">

Can you send us your mediatrack datastream?

[2017-06-07 20:11] mdemers opened #84 "Use OBJ as fallback"
The solution pack relies on a PROXY_MP3 or MP4 datastream for playback. Our workflow often involves migrating objects from other content models where these derivatives may not have been created. Existing a/v solution packs allow switching the playback source to the OBJ when derivative datastreams are not found.

Sorry, I can't seem to label this as an enhancement on your repo.

[2017-06-07 20:14] MarcusBarnes commented on #84
@mdemers Thanks.  I just sent you a message through GoogleGroups about the ability to label.  Good point.

[2017-06-07 20:20] MarcusBarnes commented on #83
When updating to the latest commits in the default branch from an older install, you will want to review the module's configuration settings after updating, pressing save in the interface to make sure that the configuration variables are stored.

[2017-06-07 20:20] #83 closed

[2017-06-08 16:34] kimpham54 commented on #80
![oral histories transcript two workflows - jun8](https://user-images.githubusercontent.com/2915770/26939917-d924ba26-4c46-11e7-8191-2074a0907841.png)

[2017-06-08 16:34] #80 closed

[2017-06-08 16:40] kimpham54 commented on #80
added to wiki

[2017-06-08 16:41] MarcusBarnes commented on #80
https://github.com/digitalutsc/islandora_solution_pack_oralhistories/wiki#ingest-behaviour-for-xml-vs-webvtt-transcripts

[2017-06-08 16:45] Natkeeran opened #85 "Multiple derivative versiosn get created"
When WebVTT derivative creation is enabled, whenever the xml gets edited two versions of the derivative vtt datastreams get created.  For each version, it also creates 2 versions of index datastreams as well.

## Steps to reproduce
* Enable derivative creation
* Ingest an xml transcript
* Verify that the versions are all number 1
* Edit the xml and save
* MEDIATRACK version goes to 3
* INDEXMEDIAT

[2017-06-08 16:57] kimpham54 commented on #81
original issue resolved with https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/82

[2017-06-08 16:57] #81 closed

[2017-06-08 18:24] kimpham54 commented on #85
i was also able to reproduce the issue

[2017-06-08 18:25] Natkeeran commented on #85
@kimpham54 Pls see if this https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/87 fixes the issue.  Thanks.

[2017-06-08 18:29] MarcusBarnes commented on #85
I'm currently testing https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/87.  Thanks.  @kimpham54  You're welcome to test too.

[2017-06-08 18:34] MarcusBarnes commented on #85
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/87 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/0dbe8a1e1dfb337d1cfd51d5196e454aa2138f68).

[2017-06-08 18:34] #85 closed

[2017-06-09 17:53] MarcusBarnes commented on #70
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/88 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/5f84530a29564d947fa5475baec41db9712ef235).

[2017-06-09 17:53] #70 closed

[2017-06-12 19:53] kimpham54 commented on #71
addressed with https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/89.

[2017-06-12 19:53] #71 closed

[2017-06-13 14:17] kimpham54 opened #91 "Explore multiple languages in webvtt"
https://w3c.github.io/webvtt/#cue-text
https://w3c.github.io/webvtt/#css-extensions-introduction -> look at the Type selector example

so you could do something like

[code]

From @Natkeeran: One VTT can contain cues for different languages and different tracks will specify the language selection

The applicable language for the list of WebVTT Node Objects can be set by the srclang attribute in HT

[2017-06-13 15:55] McFateM opened #92 "Cannot parse WebVTT file produced by InqScribe on a Mac"
We have produced a few WebVTT files exported from InqScribe running on a Mac and the line endings (typically \r\n in my case) don't appear to be compatible with the module's parse_vtt( ) function.  I am actively debugging this and attempting to make that parser more generic so I wanted to get this issue in the queue so that I have something to document changes against.

[2017-06-13 16:40] Natkeeran commented on #92
@McFateM We have updated the parser recently.  Can you please provide the last commit of your local repo.

Are the vtt files passing the validation here: https://quuz.org/webvtt/?

If you can attach some sample VTT files, that will help narrow down the issue as well.

[2017-06-13 17:45] McFateM commented on #92
A ‘git log’ on my local reports this as the last change...

commit 88e90224821243b4da5d0bf169c9c6fd4e10e08c

Merge: 732701f fbc37b4

Author: kim pham <kimpham54@users.noreply.github.com>

Date:   Mon Jun 5 15:19:11 2017 -0400

    Merge pull request #77 from digitalutsc/issue_75

    ensure to put CDATA for escape characters for INDEXMEDIATRACK

The latest .vtt I have does validate to the standard

[2017-06-13 17:54] McFateM commented on #92
Correction:  The last (first) entry in my git log is:

commit d04f0a78ad0889ae1201af7e51e9c720f27c978d
Merge: d1f61a3 70a768d
Author: Marcus Emmanuel Barnes <MarcusBarnes@users.noreply.github.com>
Date:   Wed Jun 7 09:54:40 2017 -0400

    Merge pull request #76 from digitalutsc/issue_34

    Redirects to the OH object after editing transcript XML through the manage datastream interface.

[2017-06-13 18:11] McFateM commented on #92
So I pulled the latest code and I see the new VTT parser, but it appears to suffer from the same issues as before.  Specifically I get this back when ingesting one of my 'valid' VTTs...

    Notice: Undefined offset: 1 in VttConverter->fileContentToInternalFormat() (line 22 of /var/www/drupal7/sites/default/modules/contrib/islandora_solution_pack_oralhistories/includes/lib/VttConverter.php).
    N

[2017-06-13 18:20] kstapelfeldt commented on #45
Need to note this as an untested feature in the release documentation.

[2017-06-13 19:56] MarcusBarnes commented on #59
@McFateM We've added a toggle all cues button in this pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/93.  Would you please give the pull-request a quick test and see if it (partially) addresses your enhancement request?  Thank you in advance.

[2017-06-26 20:10] MarcusBarnes commented on #59
Addressed in pull-request #93 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/23e5289fb9f961d1e047e2cd2ff5ec027c391b3b).

[2017-06-26 20:10] #59 closed

[2017-06-27 19:12] McFateM opened #94 "Captions and transcript display not available if Solr has not indexed the content"
For whatever reason, when I ingest an oral history using this module my content is NOT automatically indexed in Solr.  Consequently, when the process tries to render captions and transcript for display I see only this...

![screen shot 2017-06-27 at 2 08 46 pm](https://user-images.githubusercontent.com/8472769/27605434-4df131ea-5b42-11e7-8e7c-2674068d1e9f.png)

...with no real indication that anyt

[2017-06-27 20:12] McFateM opened #96 "Captions not displayed unless DSID is "MEDIATRACK""
When I ingest a new OH object or regenerate all derivatives I get transcript derivatives like those shown below.  Note the name of the interviewee appearing in the two datastream IDs.

![screen shot 2017-06-27 at 2 57 46 pm](https://user-images.githubusercontent.com/8472769/27607505-b46cbae6-5b49-11e7-9e7b-a95bad248213.png)

Under these conditions I don't see any captions in my video window.  It l

[2017-06-27 20:14] McFateM commented on #96
Additional note... this behavior, of producing DSIDs with the name of the OH interviewee just started happening in about the last week, since my pull of the 7.x branch late last week.

[2017-06-27 20:28] MarcusBarnes commented on #96
@McFateM We've had use cases where there was the desire to have multiple WebVTT files with different languages.   As an interim solution, postpending the WebVTT filenames with an underscore and the language code was used.  (For example, see pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/89.)   When no language code is given, English (en) is assumed (the defa

[2017-06-27 21:06] McFateM commented on #96
Yes, “bogie” does appear under the CC selection options and if I select it the captions appear.  I see that when a MEDIATRACK datastream is present I get an “en” option under CC and that is apparently the default because captions appear without me having to take any action.

So is there a simple fix for this?  I know my users are not even aware of what the CC button does.  Would it be relatively e

[2017-06-27 21:15] MarcusBarnes commented on #96
So what's happening is the file naming conventions are conflicting.   If you rename your WebVTT files before ingest to remove the "_{interviewee-name}", the observed behaviour won't happen.  You'll get the default 'en' (English) transcript displayed.

[2017-06-27 21:17] McFateM commented on #96
I don’t think I can rename them before ingest, they are derivatives created by the ingest process.  I don’t create any VTTs of my own.  My ingest is simply the old <cues> XML files that we’ve always provided.

[2017-06-27 21:23] McFateM commented on #96
OK, looking at the code I see what’s up.  The get_dsid_suffix() function assumes that if you have any underscore in your transcript file name, what follows that must be the language code.

Let me see if I can overcome that by changing the name of the transcript file to use dashes instead of underscores.

[2017-06-27 21:24] MarcusBarnes commented on #96
@McFateM  To clarify then, you're ingesting a transcript XML file named like `ioh_bogie.xml` and the `_bogie` is applied to the generated WebVTT file.     This was so that you could set the default language for an object on an Islandora site with oral history objects in a (default) multi-languages.  The relevant pull-request is https://github.com/digitalutsc/islandora_solution_pack_oralhistories/p

[2017-06-27 21:41] McFateM commented on #96
Ok, my workflow change worked…I made sure my transcript filename contains no underscores, and what I got was a single MEDIATRACK datastream that displays correctly after ingest.    I’ll address this in my workflow script tomorrow…no more underscores allowed in our filenames!  Thanks Marcus.

[2017-06-27 21:46] MarcusBarnes opened #97 "Documentation: Make sure file name convention for default caption language is clearer"
Make sure that the file name convention for default caption language is clearer for transcript XML files.  See the comment thread for issue https://github.com/digitalutsc/islandora_solution_pack_oralhistories/issues/96.

Relevant pull-request:  https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/88.

[2017-06-27 21:46] #96 closed

[2017-06-29 14:47] kstapelfeldt opened #99 "Do we have tests for the issue of multiple WebVTTs for the OH solution pack?"
1. to confirm indexing behaviour
2. to confirm display when multiple WebVTTs appear
Also, we seem to enforce ISO standards for language codes in the language of the admin config, but it's not clear to me that these are actually requirements. Do we have tests? should we test?

[2017-06-29 14:50] kstapelfeldt commented on #97
This is what I've added - do you think it's adequate and accurate? https://github.com/digitalutsc/islandora_solution_pack_oralhistories/wiki/About-Transcript-Files-and-the-OH-Solution-Pack#webvtt-format

[2017-07-05 14:00] kstapelfeldt opened #101 "Exploring the issue of the large video ingest script/batch"
There is a local script lingling wrote re: large image ingest. We discussed this in existing issues but need to bring together all these issues to better understand:

* Video ingest size limits
* Batch possibilities for this module

We would like to ultimately support backend ingest of Oral HIstory files (not interface ingest)

[2017-07-21 13:54] MarcusBarnes opened #103 "Update CONTRIBUTING.md to reflect planned move to Islandora Labs"
Update CONTRIBUTING.md to reflect planned move to Islandora Labs using this suggested template https://github.com/rosiel/Contributing-Templates/blob/master/CONTRIBUTING.md.

[2017-07-21 14:17] MarcusBarnes commented on #103
Addressed in pull-request https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/104 (merged with commit https://github.com/digitalutsc/islandora_solution_pack_oralhistories/commit/e60e5498d75be531c2a85e544407c10e7aaae83d).

[2017-07-21 14:17] #103 closed

[2017-07-26 18:08] MarcusBarnes opened #105 "Fix typo in includes/admin.form.inc"
See comment by @witt https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/b00e7a21f3623386ae1a533d7beab5f3321e6d07#commitcomment-23315032.  The end of the description value should be a comma not a period.

[2017-07-27 16:17] MarcusBarnes commented on #105
Addressed in pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/106 (merged with commit https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/6518c0eb7afd424dd0bc37b2951d4a3626d53531).

[2017-07-27 16:17] #105 closed

[2017-07-27 16:18] MarcusBarnes opened #107 "Travis build failing for PHP 5.3.3."
Travis is not completing the build correctly for PHP 5.3.3.

[2017-08-01 18:00] McFateM opened #109 "Implementation of hook_islandora_CMODEL_PID_derivative() is incorrect"
I'm trying to do some mass ingest of oral histories using the Islandora Multi-Importer (IMI) module and keep running into this problem.  At one point the IMI tries to call islandora_oralhistories_islandora_oralhistoriesCModel_islandora_derivative, which is defined in the .module file, but this hook is to be called with NO arguments, and it only returns an array of derivative specs.   In the IOH mo

[2017-08-01 18:38] McFateM commented on #109
OK, looking at the code I see the immediate problem...  The hook implementation does return an array of derivative specs as prescribed, but it appears that an Abstract Object was added to the argument list for this function to support the islandora_oralhistories_make_vtt option, but requiring this argument is not compatible with the design of this hook function.

So I made two simple changes in th

[2017-08-01 18:40] MarcusBarnes commented on #109
Thanks @McFateM.  Would you be able to do some more testing and then create a pull-request?  I'll schedule some time to review and test.

[2017-08-01 18:42] McFateM commented on #109
I can certainly do more testing since I need to ingest a few dozen OH objects this week.  Not sure about the pull-request... I made these little changes on the fly and am honestly not sure my codebase is in a state that would allow me to properly pull against your Github repo.  I'm affraid there might be lots of unrelated merge conflicts to deal with due to other changes I have experimented with.

[2017-08-01 18:45] MarcusBarnes commented on #109
@McFateM OK.  I'll still schedule some time and maybe reach out to you if I need more information on the suggested changes.  Thanks again for using the module and testing against the multi-importer.   FYI, there is an older issue https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/1 that may be related to this (if only in terms of batch functionality).

[2017-09-01 14:24] kimpham54 commented on #107
travis build working

[2017-09-01 14:24] #107 closed

[2017-09-20 15:29] kstapelfeldt commented on #1
To scope for next release - Islandora multi-importer may provide a workaround or use an approach similar to Mark's approach for supporting batch ingest in the XML solution pack. If so, we should document in the wiki documentation for those who wish to import batch oral histories.

[2017-09-20 15:34] kstapelfeldt commented on #1
@MarcusBarnes to do

[2017-09-20 15:36] kstapelfeldt commented on #32
Confirm that this is still a reproducible issue.

[2017-09-20 15:39] kstapelfeldt commented on #43
For now, we will remove edit button for VTT - there are issue here related to our support of two types of source files and the derivatives we create, and the necessity of keeping derivatives synced with source files. Workflow needs to be updated and this needs to be documented.

[2017-09-20 15:43] kimpham54 opened #110 "Revisit behaviour and ingest workflow for CLAW"
When we consider migration pathway to CLAW, revisit ingest behaviour, notably the accepted file formats

[2017-09-20 15:46] kstapelfeldt commented on #45
fully deprecate and delete in the next release and include in the release notes. Change wiki documentation to reflect the removal of this feature.

[2017-09-20 15:48] kstapelfeldt commented on #45
A last call was put out on google list. We'll change this approach if necessary based on any responses.

[2017-09-20 15:49] kstapelfeldt commented on #53
@MarcusBarnes to continue review. Documentation for what approach we will use will be included in the next release.

[2017-09-20 15:52] kstapelfeldt commented on #57
Only in the readme. Kim to move to the wiki also.

[2017-09-20 15:55] kstapelfeldt commented on #63
Update sample transcripts to include the CDATA tag and an in-line comment explaining how and when CDATA tags are generated and why.

[2017-09-20 15:56] kstapelfeldt commented on #64
Do as much as we can for release.

[2017-09-20 15:57] kstapelfeldt commented on #72
Once we have implemented a batch solution, we will test and report any emerging issues.

[2017-09-20 16:09] kstapelfeldt commented on #1
Related to #72 and a general need to develop consensus around desired behaviour and what we wish to/can support, and how this is documented.

Minimum: Ability to batch ingest video/audio files and at least related XML transcript datastreams
Interface batch ingest zip loader is and will remain unsupported in the Islandora 7 version unless it's something easy to do.

Other issue: Are we providing a

[2017-09-20 16:11] kstapelfeldt commented on #1
@kimpham54 to test existing discimage and webarchive batch ingest via interface and report.

[2017-09-20 16:13] #72 closed

[2017-09-20 16:15] kstapelfeldt commented on #74
confirm that this is still an issue and document any remaining latency or requirements in wiki, and possibly in interface documentation.

[2017-09-20 16:19] kstapelfeldt commented on #84
To review: What support is provided by the video and audio solution pack for default OBJ and can we provide similar support for these filetypes in the OH solution pack? Investigate and scope. The other solution packs are less strict about the files available to the viewer.

[2017-09-20 16:27] kstapelfeldt commented on #91
If we could do this it would be a cleaner solution than our existing solution, which relies on file-level naming conventions. We don't have a local use case for this and it could be a large issue/task, so it may be something we should explore in the refactor for CLAW.  Do browsers support this feature in WebVTT? (video.js) Can we support all languages in one webvtt file? This is a backburner issue

[2017-09-20 16:41] kstapelfeldt commented on #92
@McFateM - we're exploring this issue in preparation for the 7x-1.10 compatible release of this module. Do you mind creating a pull request for us to review? Thank you!

[2017-09-20 16:42] kstapelfeldt commented on #94
Will review pull request, thank you!

[2017-09-20 16:45] kstapelfeldt commented on #99
We do not enforce and need to ensure interface documentation is clear that this is a suggestion based on a convention that is prominent in the community. Arbitrary values are still accepted, so long as they match in the interface configuration panels.

[2017-09-20 16:47] kstapelfeldt commented on #101
related to issue #1 - we are not packaging this as part of the release. The script is in DSU github. Closing the issue here.

[2017-09-20 16:47] #101 closed

[2017-09-20 16:48] kstapelfeldt commented on #109
For review and inclusion in release.

[2017-09-20 16:50] kstapelfeldt commented on #110
This is a large undertaking we have been discussing that will likely require a project plan, MVP specification, and massive refactoring. Closing this now in favour of a CLAW project label that will be introduced once we have our ducks aligned.

[2017-09-20 16:50] #110 closed

[2017-10-19 20:51] MarcusBarnes commented on #97
We need to confirm that the documentation related to this ticket mentioned in the [comment above](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/97#issuecomment-311990753) is adequate and still accurate.

[2017-10-19 20:57] MarcusBarnes commented on #92
@McFateM Were you able to get this working?  Are you able to provide your solution and possibly a sample of the valid VTT file that was not being handled adequately?  Thank you in advance.

[2017-10-19 20:59] MarcusBarnes commented on #91
Added the large label to reflect that the work revolves around larger architectural and design discussions of how to support language features and with what kinds of file formats for transcripts.

[2017-10-23 13:20] kimpham54 opened #111 "transcript viewer speaker name & transcript content overlapping"
fix this:
<img width="1198" alt="screen shot 2017-10-23 at 09 19 08" src="https://user-images.githubusercontent.com/2915770/31891092-4f894504-b7d3-11e7-876d-cb54957c3060.png">

to this:
<img width="1200" alt="screen shot 2017-10-23 at 09 18 57" src="https://user-images.githubusercontent.com/2915770/31891097-528a7ca0-b7d3-11e7-8a6e-30346b141156.png">

[2017-11-13 22:01] MarcusBarnes opened #112 "Explicitly state defualt distribution in Travis YML."
Some references regarding this issue below.

- Islandora's TAG first meeting islandora-dev posting that mentions this issue: https://groups.google.com/d/msg/islandora-dev/WvGIDqUWSvE/lYAHw8ouCQAJ

- About the issue from the Travis CI blog: https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming

- For an example fix, see: https://github.com/Islandora/islandora_openseadragon/blob/7.

[2017-11-15 20:34] #112 closed

[2018-01-09 16:42] kimpham54 opened #116 "tag rendering in webvtt"
From https://github.com/digitalutsc/islandora_web_annotations/issues/216

Came out of the original interest to render tags from WebVTT files. Consider filter_xss() or other approach.

From @ulsdevteam and @bgilling:

In the “uls_install” branch of our code for islandora_solution_pack_oralhistories the transcripts_ui code has been removed as a submodule and treated like a regular drupal module (but

[2018-01-10 14:49] MarcusBarnes commented on #94
This issue was addressed in pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/114, which has been merged.

[2018-01-10 14:49] #94 closed

[2018-01-25 16:31] MarcusBarnes commented on #45
Waiting on the results of the review of pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/115 before closing this issue.

[2018-01-25 16:36] MarcusBarnes commented on #45
Addressed in pull-request #115 (merged with commit 8a5de32565f6282fdc14d547b063d1fc700e97fb).

[2018-01-25 16:36] #45 closed

[2018-01-29 17:39] MarcusBarnes opened #117 "Web Annotation Search and Oral Histories - pop-up appears even when not navigating to annotation from Solr search."
This issue is related to those who use both the Oral Histories Solution Pack and the Web Annotation Utility module on the same Islandora instance.  The following merged pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/242 introduced a way of skipping to video (audio) annotations directly from search (related to issue https://github.com/digitalutsc/islandora_web_annotation

[2018-02-01 15:03] MarcusBarnes commented on #117
There is a [pull-request in Web Annotations](https://github.com/digitalutsc/islandora_web_annotations/pull/244) to address this issue.  Once merged, please confirm that it addresses the issue observed here adequately and close as appropriate.

[2018-02-01 18:10] MarcusBarnes commented on #117
Addressed in the merged Web Annotations pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/244 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/23fb5e36badeb3f52a76cfa76a2e50930921cc2d).

[2018-02-01 18:11] #117 closed

[2018-02-05 19:47] MarcusBarnes commented on #32
I've been able to reproduce this issue using an Islandora Vagrant running 7.x-1.10 and the latest commit from Oral Histories.   I reproduced using the transcript XML and audio file for an object where this behavior was first reported on the Islanodra mailing list.   It's still unclear where the problem is coming from - possibly a combination both data and software since we haven't seen this behavi

[2018-02-05 20:26] MarcusBarnes commented on #32
Looking at this some more, the issue appears to happen when using the next and previous buttons to navigate between cues.  There is a second or two delay before audio can be heard.  When listening from cue to cue without using the next or previous buttons this does not happen and no audio is missed.

[2018-02-06 19:33] MarcusBarnes commented on #111
Addressed in pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/118 (merged with commit 442352e2d0cd1ce7c1272bbc94372bb08e6305ea.)

[2018-02-06 19:33] #111 closed

[2018-02-15 22:54] kimpham54 commented on #63
finished

[2018-02-15 22:54] #63 closed

[2018-02-15 23:01] kimpham54 commented on #57
done

[2018-02-15 23:01] #57 closed

[2018-02-15 23:02] kimpham54 commented on #74
done

[2018-02-15 23:02] #74 closed

[2018-02-15 23:04] kimpham54 commented on #99
done

[2018-02-15 23:04] #99 closed

[2018-02-21 17:41] willtp87 opened #119 "islandora_oralhistories_media_uploaded_type race condition"
The use of the Drupal variable `islandora_oralhistories_media_uploaded_type` creates a race condition.  When an object being ingested sets the variable and before the variable's use another object of a different type is ingested and sets the variable it will not be accurate when accessed to create the derivatives of the first object.  I am planning on submitting a pull request that removes this va

[2018-02-21 17:43] MarcusBarnes commented on #119
Thank you @willtp87 I'm looking forward to reviewing your pull-request.

[2018-02-22 17:38] MarcusBarnes commented on #119
Thank you @willtp87 for catching this behaviour.

[2018-02-22 17:38] #119 closed

[2018-03-08 15:15] ryanbrinn opened #122 "Add isset checks to certain params in template."
Template files are making assumptions about present datastrams that are violated by running derivatives in separate processes, as is done with gearman.
Example:
    Notice: Undefined index: tn in include() (line 5 of /var/www/drupal7/sites/all/modules/islandora_solution_pack_oralhistories/theme/islandora-html5-video-stack.tpl.php).
    Notice: Undefined index: url in include() (line 6 of /var/www/

[2018-03-08 16:16] MarcusBarnes commented on #122
Addressed in pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/121 (merged with commit https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/f586562418bbc3545957a453ce6315a098d373de).  Thank you @ryanbrinn for your contribution.

[2018-03-08 16:16] #122 closed

[2018-03-20 19:10] McFateM opened #123 "README's Install as Usual Line Seems Wrong?"
The first line of the README.md file's "Installation" section reads "Install as usual, see this for further information."   But that doesn't seem right to me.  Unless I'm mistaken, the linked instructions there apply only to Drupal modules that have been contributed to and accepted by Drupal.org.  Or am I missing something here?

FYI... I am writing a bit of ISLE documentation that covers installi

[2018-03-20 19:16] MarcusBarnes commented on #123
@McFateM That line in the README was an attempt to mirror the [Islandora README template](https://github.com/Islandora/islandora/wiki/Readme-template). We can certainly explore improving this section of the README.

[2018-03-20 19:32] McFateM commented on #123
@MarcusBarnes Hello Marcus and thanks for the quick response.  I figured that language came from the Islandora template, but I was nonetheless disappointed that the link leads to a **very lengthy** explanation of ways to download, enable and configure a typical Drupal 7 module.  I'm just not confident there's anything in the document addressing the "typical" means of installing an Islandora-Labs m

[2018-03-20 19:54] MarcusBarnes commented on #123
@McFateM No, I don't think you're wrong.  The section can be improved.  Maybe you can submit your suggested improvements as a PR based on the documentation you're creating and we can go from there?

On a different note, will your documentation be publicly available?  If so, we can explore whether it would be useful linking to it in the Wiki or elsewhere.

[2018-03-21 13:17] McFateM commented on #123
Yes and yes.  I hope that my documentation will soon become part of https://github.com/Islandora-Collaboration-Group/ISLE-Documentation, and if/when it does it will be publicly available.  If it plays well there perhaps I will submit a PR to adopt it here too.

[2018-03-27 14:29] MarcusBarnes opened #125 "Add testing using "deferred derivative generation" set"
From the recent pull-requests from from staff of Discovery Garden Inc. (such as pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/124) it has become clear that we have not tested this module when the "deferred derivative generation" setting in Islanodra is on.   Task:  Add testing when "deferred derivative generation" is set to the [testing spreadsheet](http

[2018-03-27 17:36] MarcusBarnes opened #126 "Recoverable fatal error when navigating to Oral History Collection -> Manage -> Collection"
When navigating to the Oral History Collection manage interface and clicking "collection", I see a recoverable fatal error:

[2018-03-27 21:08] MarcusBarnes commented on #126
This issue might be related something to do with my dev VM.  If this is not reproducible, I'll close.  Thank you.

[2018-03-29 02:53] McFateM opened #127 "401 Unauthorized when Enabling in ISLE"
I've scripted some module installation inside my local ISLE (https://github.com/Islandora-Collaboration-Group/ISLE) environment but, after installing this solution pack in the prescribed manner I'm getting an error like this when I try to enable it.

Other solution packs and modules have been enabled prior to this, under the same user account, so I'm puzzled what the cause of this might be.  It's

[2018-03-29 12:50] MarcusBarnes commented on #127
@McFateM Thank you for reporting.  I'v never seen this before.  I'm not sure if it's something related to how Islandora is deployed in ISLE.   We can review the Tuque related code in Oral Histories to see if there's something there that may give us a clue on how to proceed.

[2018-03-29 15:03] McFateM commented on #127
A little follow-up on this...

I still can't find the root of this issue so for now I'm working around it with the following changes in our Apache container's install script:

[code]

Note that following the instructions above to 'manually' enable the module and install the CModel works nicely.

[2018-03-29 15:08] MarcusBarnes commented on #127
Thanks for the update.   For focusing debugging, it appears that on install, when there is the intial attempt to add islandora:oralhistoriesCModel (Oral Histories Content Model) to Fedora, something goes wrong on the ISLE infrastructure.    That at least narrows down which parts of the code could be the culprit or which parts of the ISLE setup may need to be modified.    @McFateM Do you know if an

[2018-03-29 15:10] MarcusBarnes commented on #127
@McFateM  Is it possible to run drush using the same user that Fedora runs under?  I wonder if this is a permission issue on the ILSE setup and the results of attempting this might give us some insight.

[2018-03-29 15:14] McFateM commented on #127
@MarcusBarnes Thanks for the quick follow-up.  I think I'm the only person attempting to push OH, or any non-core CModels, into an ISLE instance.  I'll ask others in the group about this and see if we can figure it out.  If/when we do I'll be sure to follow-up here.

[2018-03-29 16:36] McFateM commented on #127
@MarcusBarnes   Got it.  Simple fix.  Ben Rosner suggested I add `-u 1` to the `drush en` command (like all the others I run in the script) and that fixed it.  Duh.  Closing this issue and I'll try to pay better attention to detail next time.  Take care.

[2018-03-29 16:36] #127 closed

[2018-03-29 16:38] MarcusBarnes commented on #127
@McFateM Thank you for updating us on this issue and thanks for using the Oral Histories Solution Pack.

[2018-05-08 13:35] MarcusBarnes commented on #109
Addressed in pull-request #128 (merged with commit ca77d27).

[2018-05-08 13:35] #109 closed

[2018-05-16 18:11] kimpham54 opened #129 "batch ingest oral histories"
use case request from university of texas auston (briscoe). have about 700 oral histories and want to migrate over from one system to another. possible resolution is to use islandora multi importer.

[2018-05-16 18:13] kimpham54 commented on #129
@MarcusBarnes to send a message to briscoe about the islandora multi importer option

[2018-05-16 18:15] MarcusBarnes commented on #129
N.B:  This issue is basically that found within the discussion of issue https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/1.

[2018-05-18 17:38] MarcusBarnes commented on #129
I've reached out to a user of the Oral History Solution Pack.  They have confirmed that they have used [Islandora Multi-Importer](https://github.com/mnylc/islandora_multi_importer) to batch ingest oral history objects.   It would be good to provide some sort of documentation on basic usage in the [Content and Ingesting section of the wiki](https://github.com/Islandora-Labs/islandora_solution_pack_

[2018-05-18 17:47] MarcusBarnes opened #130 "Add optional consent agreement datastream"
Often, one requires a consent form before publishing oral history interviews.   The idea is to store either digitized versions of signed paper agreements or born-digital versions to that consent information can be bundled with the particular oral history object in question.

Based on the above, we have the following enhancement task:  add an optional consent form datastream that will store an inte

[2018-06-22 18:24] wpwentzell commented on #129
I agree on some documentation for a batch ingest for this module that captures the transcripts will be extremely helpful.

[2018-06-22 18:31] MarcusBarnes opened #131 "Document how to carry out batch ingest of oral history objects"
As per comments https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/129#issuecomment-390279799 and https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/129#issuecomment-390279799 from issue https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/129, provide documentation in the [Content and Ingesting section of the wiki](

[2018-06-22 18:33] MarcusBarnes commented on #129
Closing this issue and moving it to documentation issue https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/131.

[2018-06-22 18:33] #129 closed

[2018-06-22 19:02] wpwentzell opened #132 "Option for capturing Table of Contents in addition to Transcript"
The Briscoe Center for American History at the University of Texas is really enjoying this module! There is one major setback that prevents us from fully embracing it as it stands:

As is currently, there is not a way to capture both a table of contents and transcript together, and to distinguish between them. The only feasible way we could find to distinguish between Transcript and Table of Conte

[2018-06-26 16:34] MarcusBarnes commented on #132
@wpwentzell Do you have an example of an existing oral history in another system that has a table of contents which I can take a look at to get a better idea of what you might need and how we might implement this?   We'll review this feature request as we work on the 7.x-1.11 release of the Oral Histories Solution Pack.   Thanks!

[2018-06-26 16:35] MarcusBarnes opened #133 "Implement hook_requirements() against a checklist to aid module configuration and installation"
Implement hook_requirements() against a checklist in the module configuration, to help aid administrators track which setup steps (outside of the module requirement steps) are needed in order for the Oral Histories Solution Pack to be minimally installed.  For an example of how to do this, see: https://github.com/MarcusBarnes/status_report_demo.

[2018-07-03 15:23] Natkeeran commented on #132
@wpwentzell

Does your TOC timecode correspond to cue timecodes?  Something like this:

[code]
If so, that functionality could be achieved.  We can possibly hide the tier if the content is empty.

[2018-07-09 18:35] wpwentzell commented on #132
@Natkeeran

Hi Natkeeran, yes, that is the idea. We would ultimately need a way to distinguish between the two timecodes, toggling them off and on.

@MarcusBarnes

Here is an example of the OHMS solution pack, a different project that has the functionality we're looking for: http://digital.lib.sfu.ca/techbc-71/dianne-cyr-2014-11-26-sfu-surrey

This project has toggle between index and transcript,

[2018-07-25 15:59] MarcusBarnes commented on #123
@McFateM Would you be able to provide a PR for the documentation enhancements you were working on?  It would be great to include your suggested improvements as appropriate as part of the work for the upcoming release of the module.  Thank you in advance!

[2018-07-25 16:01] MarcusBarnes commented on #1
One can batch upload oral history objects using the Islandora Multi Importer.  This will be documented as part of resolving issue https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/131.

[2018-07-25 16:01] #1 closed

[2018-07-26 13:57] McFateM commented on #123
I'm really swamped with work right now @MarcusBarnes, and ISLE is being re-factored so I'm not sure where my documentation work fits into the new scheme.  I have an ISLE meeting next Wednesday and will bring up the issue then if I can.  I also hope to be testing a new ISLE pre-release candidate by that time and will include oral histories in that test.  So, I expect more changes/documentation to c

[2018-10-19 18:49] timtomch opened #134 "Transcript Edit form results in invalid XML"
Hello. I've noted that when editing an XML transcript file using the front end edit form and saving, it adds an empty "orphan" <cue/> tag at the top. This breaks transcript functionality and throws the error below. The issue can be resolved by manually fixing the transcript XML datastream, removing the extra <cue/> tag, and replacing the datastream. Can someone replicate the problem?

Until the in

[2018-11-08 15:57] kimpham54 commented on #134
likely an issue with https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/blob/7.x/includes/transcript.edit.form.inc#L106

[2019-01-25 16:18] MarcusBarnes opened #136 "Travis CI fails generally - known issue"
There is an ongoing issue with PEAR and Travis CI that is making all build checks fail.   Members of the Islandora community are investigating.   Please monitor the progress and make necessary changes as needed to our Travis CI setup so that our builds are checked like other solution packs.

[2019-01-31 21:40] MarcusBarnes commented on #134
@timtomch Would please check whether this recent pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/135 resolves the issue for you?

[2019-01-31 21:48] MarcusBarnes opened #137 "VTTConverter mishandling certain cue timestamps"
As reported to the Islandora Google Group by Tony Kurtz and initially investigated by @DiegoPino: https://groups.google.com/forum/#!msg/islandora/WVRpkJL_2sk/MnDcm7wIHAAJ  It appears that certain timestamps that appear valid are mishandled by `VTTConverter.php`.  Please confirm the reported behaviour and provide a fix as appropriate.

[2019-02-01 02:14] timtomch commented on #134
@MarcusBarnes thank you, yes I tested it and it does indeed resolve the issue. I can close it now. Thanks!

[2019-02-01 02:14] #134 closed

[2019-02-14 18:15] MarcusBarnes commented on #137
Reported behaviour confirmed.

[2019-02-23 03:05] MarcusBarnes commented on #136
This issue appears to have sorted it self out.   We will still want to revisit our Travis CI build scripts from time to time in order to confirm that they are still checking what we'd like.

[2019-02-23 03:05] #136 closed

[2019-03-01 20:36] MarcusBarnes commented on #137
Addressed in pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/141  (merged with commit https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/dbb05a36551f91f48ddbe25b4acb999173499020).

[2019-03-01 20:36] #137 closed

[2019-03-18 15:08] MarcusBarnes commented on #64
VTT fixtures have been added.  See commit https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/65812f4f5067d9ed927bbe78d9fc01902293fef4.

[2019-03-18 15:11] MarcusBarnes commented on #92
@McFateM Some changes have been made to the VTT parser.  Would you please confirm whether this issue still exits for you as of commit https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/65812f4f5067d9ed927bbe78d9fc01902293fef4?  Thanks in advance.

[2019-03-18 15:21] McFateM commented on #92
Sorry @MarcusBarnes, I can't easily test this change because we stopped using the VTTs and found a way around this shortly after this issue was posted.  So I don't have any VTT files to check this with, and both of our InqScribe licenses are in use by others for the foreseeable future.

[2019-03-18 15:25] MarcusBarnes commented on #92
Thanks @McFateM for the update.  I'll close the issue and we can reopen it if others encounter similar challenges going forward.  I suspect that the change to the VTT parser may address the issue you previously reported (but this would need to be tested and confirmed).

[2019-03-18 15:25] #92 closed

[2019-03-18 15:31] McFateM opened #143 "Cannot overcome "This transcript is still being processed for display" condition"
I need to pull the latest code and try this again, but lately I've been having problems resolving the condition indicated in the title.

So, for some time now when we use the provided editor to modify one of our TRANSCRIPTs it frequently saves an "empty" cue (looks like <cue/>) at the head of the TRANSCRIPT XML data.  This doesn't seem to cause any real problems, but when an administrator opens th

[2019-03-18 15:33] MarcusBarnes commented on #143
@McFateM This is probably the same issue as was reported in https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/134.   This has been addressed and is part of the [7.x-1.12 release of the solution pack](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/releases/tag/7.x-1.12).

[2019-03-18 15:45] McFateM commented on #143
@MarcusBarnes   The new code does seem to have addressed the empty cue issue.  I opened an object that had that problem, regenerated derivatives, and the empty cue / index errors are gone.  However, the "This transcript is still being processed for display" condition still exists, and I can't seem to find a way to get past it.

Any suggestions what it takes to clear that condition?

I'm rebuilding

[2019-03-18 15:52] MarcusBarnes commented on #143
@McFateM I'd suggest trying to reindexing the object in Solr.   This can be accomplished using Gsearch and possibly also by editing and saving the MODS XML datastream.    Also double check that any caches have been cleared (both Drupal and browser, and if you're using something like Varnish, by-passing that cache as well).

[2019-03-18 16:02] McFateM commented on #143
@MarcusBarnes Yes, re-indexing in Solr / FGS used to do the trick, but I've confirmed that it isn't anymore.  I'm running tests in a incognito window (no browser cache) and have cleared the Drupal cache too.  Even regeneration of the derivatives doesn't seem to clear it.  I also tried deleting the object from FGS/Solr and rebuilding it.  Still no good.

[2019-03-18 16:08] MarcusBarnes commented on #143
The next step would be to explore the code around https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/blob/7.x/includes/utilities.inc#L95 and see why the expression in https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/blob/7.x/includes/utilities.inc#L91 is not evaluating to true.

[2019-03-18 19:16] MarcusBarnes commented on #126
Not reproducible - things seems to work fine using the latest commits and the most recent Islandora Vagrant. Closing.

[2019-03-18 19:16] #126 closed

[2019-03-22 15:05] mdemers opened #144 "deprecated code in transcript_ui?"
Updating to php 7.1+ breaks things. I get the following fatal error when displaying an oral history object

`Error: [] operator not supported for strings in theme_transcripts_ui_tcu_tier() (line 66 of /var/www/drupal7/sites/all/modules/transcripts_ui/theme/transcripts_ui.theme.inc)`.

It points to this function in particular. I think $vars isn't being set as an array?
[code]
I'm afraid I don't kno

[2019-03-22 15:17] mdemers commented on #144
Oh. Maybe I know more than I thought. Dropping `$vars['classes'] = array();` in the top of that function may have taken care of the problem. Will need some more testing. I can submit a pull request if needed, but someone who knows what they're doing should probably audit this stuff for more of these php migration problems.

[2019-03-25 14:39] MarcusBarnes commented on #144
@mdemers Thanks.  We're updating our Travis CI builds to include PHP 7.1.   The Travis CI builds that include  PHP 7.1 should fail when an issue such as you reported is present.   We'll then go back and fix the issue you reported and any others we detect.

[2019-03-28 20:55] timtomch commented on #130
@kimpham54 do you think the custom code you wrote for OCLS could be repurposed here? Similar use case.

[2019-03-28 21:01] timtomch commented on #92
We ran into a similar issue when ingesting VTT files that had been created on Windows. After investigating, it looks like the parser only accepts transcript files with Unix style line endings.

Maybe it would be useful to update the parser so that it's more tolerant to non-Unix file formats?

[2019-03-28 21:02] timtomch commented on #92
@MarcusBarnes do you want to reopen this, or should I create another enhancement request?

[2019-03-28 21:10] MarcusBarnes commented on #92
@timtomch.  Regarding your comment https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/92#issuecomment-477769399 I'm inclined to make this a documentation issue - explicitly stating that VTT files should have Unix style line endings.   Do you know what program was used to make the VTT files on Windows?  For example,  Notepad++ allows you to set the line endings.   Would

[2019-03-29 17:35] timtomch commented on #92
Hi @MarcusBarnes. That's fine with me. You can use [this file](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/files/3023803/en_flying_farmer_bad.zip) for testing. It's the "flying farmer" sample VTT file from the [OH testing objects](https://github.com/digitalutsc/testing/tree/master/OH%20testing%20objects) repo with the line endings converted to Windows style.

[2019-04-08 16:48] MarcusBarnes commented on #144
@mdemers The following merged pull-request https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/pull/146 should resolve the specific error mentioned in comment https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/144#issue-424255227.     The relevant commit is https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/44471b9b749b54f

[2019-04-09 18:57] mdemers commented on #144
Yes, that fixed it. Thanks.

[2019-04-09 18:57] #144 closed

[2019-06-19 20:19] timtomch opened #147 "Transcript viewer doesn't display time cues for media longer than 1hour"
It looks like transcripts for media longer than 1 hour are not correctly interpreted by the transcript viewer. When timestamps are in the format HH:MM:SS.DDD, the following issues are observed
* Time cues are displayed as "0:00" all the way through (see screenshot below)
* Cues are not highlighting in sync with the media player

![islandora](https://user-images.githubusercontent.com/7302575/597967

[2019-07-02 20:06] SummittDweller commented on #143
Just dropping a note here to let all know that I've come back around to looking at this again...finally.  I'm going to pull the latest 7.x-1.12 code, create a fork to do some debugging in, and cross my fingers.  I found the mentioned location in utilities.inc so I'll start there.  Wish me luck.

[2019-07-17 16:31] wpwentzell opened #148 "Video obstructed by CSS when Transcript UI display rendered in latest Drupal Bootstrap release"
The video display is obstructed by css written for the transcript tabs UI when rendered within the Drupal Bootstrap theme. When you click "Play," the audio plays in the background, but the video remains obstructed. You can bring the video div forward using CSS to verify the video is indeed playing and is rendered.

See attached image for reference of issue:
![Screen Shot 2019-07-17 at 11 26 04 AM]

[2019-08-26 17:30] wpwentzell commented on #131
We are getting AJAX errors in the Multi Importer module when trying to use the Oral Histories Content Model for traversing the CSV. We cannot seem to figure out why the Multi Importer won't play nice with oral histories, but it works just fine with canonical content models. Any further development on batch ingesting documentation would be welcome at this point.

[2019-10-03 17:19] DonRichards opened #151 "Editing VTT breaks INDEXTRANSCRIPT"
When first uploaded the transcripts were correct. After editing the file it creates empty INDEXTRANSCRIPT files. Regenerating INDEXTRANSCRIPT also results in an (47 B) empty file.

<img width="682" alt="Screen Shot 2019-10-03 at 9 42 06 AM" src="https://user-images.githubusercontent.com/2738244/66149102-63b8c800-e5e0-11e9-8a46-2dd9a0a22152.png">

[Here](https://digital.lib.utk.edu/collections/isla

[2019-10-03 17:47] MarcusBarnes commented on #151
@DonRichards Thanks for reporting.  Next step is for me to reproduce.  Thanks for your patience while I try to work this task into my work schedule.

[2019-10-15 18:23] DonRichards commented on #151
@MarcusBarnes Are you able to reproduce the error?

[2019-10-22 14:51] DonRichards commented on #151
Ping @MarcusBarnes

[2019-10-22 14:52] MarcusBarnes commented on #151
@DonRichards I've been away. I'll look into this this week.  Would you please clarify how the VTT was edited?

[2019-10-22 15:27] DonRichards commented on #151
Here's an example of a transcript that is failing. It works upon ingest but it fails when the editor is used.
[test.vtt.txt](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/files/3756729/test.vtt.txt)
![Screen Shot 2019-10-22 at 11 25 11 AM](https://user-images.githubusercontent.com/2738244/67302420-dbcb2d00-f4be-11e9-9d06-c82e005e07a1.png)

[2019-10-22 15:29] DonRichards commented on #151
One discripency you might have noticed between the screenshot and the vtt file is the closing `</v>` tag. I've tried it both ways with no luck.

[2019-10-22 15:35] DonRichards commented on #151
I tried regenerating the INDEXTRANSCRIPT file but it creates a blank (47 B) file.

[2019-10-22 15:57] MarcusBarnes commented on #151
@DonRichards Would you please confirm that WEBVTT was used for the transcript datastream when creating the initial oral history object?  That is, you did not use transcript XML for the transcript datastream and then have WebVTT generated from the transcript XML?

[2019-10-22 18:23] MarcusBarnes commented on #151
@DonRichards I was able to reproduce the behaviour you reported.  I've labeled this as a bug.   I'll note that the screenshot you shared in https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/151#issuecomment-545018452 is not the default that ships with the solution pack, but that the issue is not related to that customization.

[2019-10-23 15:55] DonRichards commented on #151
I uploaded a WebVTT file as the transcript when I ingested the object. ![Screen Shot 2019-10-22 at 1 03 14 PM](https://user-images.githubusercontent.com/2738244/67411668-fae3c080-f58b-11e9-8409-7b49c02c045e.png) Sorry, I wrote this and didn't click the green button. >:-|

[2019-10-23 16:00] MarcusBarnes commented on #151
@DonRichards Thank you for confirming.

[2019-10-24 18:35] MarcusBarnes commented on #151
@DonRichards For the example object above, please grab the text file below, remove the .txt extension (so that the file name and extension is ` unixlf.vtt`), and then replace the TRANSCRIPT datastream with this file via the manage datastreams interface.  Please do not otherwise open or edit the file.

[unixlf.vtt.txt](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/files/37

[2019-10-25 13:57] DonRichards commented on #151
Doing those steps does fix the issue.

[2019-10-25 14:01] DonRichards commented on #151
Is this to identify if ant `\r \n` characters are the issue?

[2019-10-25 14:21] MarcusBarnes commented on #151
@DonRichards Correct.  It seems that the ``parse_vtt`` function is breaking on the CR ``\r`` characters.

[2019-10-28 14:01] DonRichards commented on #151
@MarcusBarnes I wonder why the module is generating a `\r` character instead of the typical `\n`. It should be easy enough to sanitize this.

[2019-10-28 16:09] DonRichards commented on #151
@MarcusBarnes What was the steps you took to strip out those characters? I've ran a few tests (replacing `\n` with `\r` and tried `\r\n`) with no luck.

[2019-10-28 16:14] MarcusBarnes commented on #151
@DonRichards  I opened the sample VTT you provided in my text editor.   My text editor (currently BBEdit) has the option of changing line ending characters from Windows (CRLF) to Unix (LF).   If you're working on Windows, Notepad++ provides similar functionality.   After changing the line ending settings, I saved.

[2019-10-28 16:42] DonRichards commented on #151
I got it. Thanks. For the sake of prosperity for others if they come across this issue before it gets resolved I think the fix is easy enough. Steps to work around this issue

1. Download the VTT file (for example lets call it view.vtt)
1. Run this command against it `$ dos2unix -ic view.vtt | xargs dos2unix`
1. Replace data stream ( manage > datastreams > TRANSCRIPT > Replace > Upload)

[2019-10-28 17:13] DonRichards commented on #151
The IDE solution works as well. Sorry, should have made that comment as well. Command line solutions avoid the IDE configuration craziness (like working with ATOM vs notepad++). I hope this helps.

[2019-11-12 21:26] DonRichards opened #153 "Error on collection managing"
When I try to click Manage > collection on a collection that is solely oral history I get the following errors.

[code]

![Screen Shot 2020-02-03 at 7 46 40 AM](https://user-images.githubusercontent.com/2738244/73654349-76f4a680-4659-11ea-9f1a-fe02ef45ba37.png)

[2019-12-04 21:44] EvelynFeldman opened #154 "Double captions after replacing XML transcript with VTT"
After replacing an XML transcript with a VTT one, the player showed multiple captions. It seems that the derivative is not being deleted.

To work around this we completely deleted the TRANSCRIPT datastream and all derivatives, and then re-added it with the VTT file.

[2020-03-05 16:10] timtomch commented on #147
Was someone else able to reproduce this? I'm guessing that long media files might not be uncommon, no? Ping @MarcusBarnes, or should I get in touch with someone else?
Thanks!

[2020-03-05 16:24] MarcusBarnes commented on #147
@timtomch My initial instinct is to look at includes/lib/VttConverter.php and see if it's handling things adequately.  I haven't heard reports about this from elsewhere.  I haven't personally tested but will try to do so time permitting.  Thanks for the ping.

[2020-03-25 17:04] kstapelfeldt opened #155 "Possible DS Composite Issue"
As identified by Irfan - in attached screenshot.
<img width="882" alt="ds-composite-model xml_adjustments-screen_shot_2020-03-25_at_12 41 40_pm" src="https://user-images.githubusercontent.com/467898/77564484-2e0ee080-6e99-11ea-9924-4aa31128eb87.png">

[2020-03-25 17:20] kstapelfeldt opened #156 "CBR and transcript drift"
Without the MP3 proxy being transcoded at CBR there can be drift in the transcript. Irfan has manually modified our local Islandora Audio Solution Pack to deal with this issue, but we should find something more robust to do. Just need to track the issue for now.

[2020-03-25 18:12] kstapelfeldt commented on #156
![Screen Shot 2020-03-25 at 2 12 23 PM](https://user-images.githubusercontent.com/467898/77570758-ae860f00-6ea2-11ea-8bd8-daeabbd0e4b1.png)

[2020-05-26 13:55] kstapelfeldt commented on #156
https://terrillthompson.com/624 more information on the issue

[2020-06-16 21:54] timtomch commented on #147
Hi @MarcusBarnes thanks for the hint. I've come back to this, and I played around with a few test files. I don't think the issue is with VttConverter.php because I'm able to read cues correctly, and I'm also able to generate a cues XML [by running this snippet](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/blob/60b84295deb4c7b11fbe5c172e3f815eb78cd942/includes/derivatives

[2020-06-16 22:47] MarcusBarnes commented on #147
@Natkeeran Based on @timtomch lastest observation, does this suggests that a fix to the issue may be sought by adjusting XSLTs? See: https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/tree/7.x/xsl/

[2020-06-17 00:55] timtomch commented on #147
Thank you @MarcusBarnes. I tried running my "clean" XML against either transforms in the xsl directory, and they don't seem to be the culprit for clipping the time cues.
@Natkeeran can you point me to the process that generates the INDEXTRANSCRIPT derivative?

[2020-06-25 18:49] timtomch commented on #147
Update on this: I cannot replicate the issue on a fresh Islandora 7 install (ISLE), where the solution pack behaves correctly without truncating the time cues. The issue must therefore be with local configuration/conflict. I would appreciate help in resolving it, but since this does not appear to be a bug with the module, I will close this issue now.

[2020-06-25 18:49] #147 closed

[2020-06-25 18:52] Natkeeran commented on #147
@timtomch

Sorry missed this one.

INDEXTRANSCRIPT transcript gets created here:
https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/blob/7.x/includes/derivatives.inc#L113

[2020-06-26 16:38] timtomch commented on #147
So to my eternal shame, it would appear that this issue had in fact been addressed by [226b09](https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/commit/d2b9b4dc661bb7b1f54a9425c5c29fca6a226b09#diff-78cf748b69e0efe8f337d71dadf4ceca). For some reason the repo wasn't syncing on our production server. Pulling the latest version resolved the issue. So sorry for the trouble...

[2020-11-24 02:38] bryjbrown commented on #153
+1, I'm testing this module for use at FSU and we ran into this immediately. Not sure what to do about it or how to fix.

[2021-01-13 20:22] DonRichards opened #159 "Bootstrap firing logic"
Islandora Solution Pack oral history's bootstrap.min.js is firing on every page and will cause a conflict if the default theme includes the bootstrap bootstrap.min.js file.

You can see here where the default theme is firing for a dropdown menu. This shows a duplicate events for the same button.
<img width="545" alt="Screen Shot 2021-01-12 at 2 17 21 PM" src="https://user-images.githubusercontent.